<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESERVATION SUCCESS</title>
</head>
<body>
<h3>RESERVATION SUCCESS</h3>
<table>
    <tr>
        <td>Name</td><td>{{name}}</td>
    </tr>
    <tr>
        <td>Address</td><td>{{address}}</td>
    </tr>
    <tr>
        <td>Reservationquota</td><td>{{reservationquota}}</td>
    </tr>
    <tr>
        <td>Age</td><td>{{age}}</td>
    </tr>
    <tr>
        <td>train name</td><td>{{trainname}}</td>
    </tr>
    <tr>
        <td>journey from</td><td>{{journeyfrom}}</td>
    </tr>
    <tr>
        <td>journey to</td><td>{{journeyto}}</td>
    </tr>
    <tr>
        <td>classs</td><td>{{classs}}</td>
    </tr>
    <tr>
         <td>journey date</td><td>{{journeydate}}</td>
    </tr>



</table>
</body>
</html>